<div class="user-list-wrapper">
    <cye-chat-user-list-header [firstName]="currentUser.firstName" [lastName]="currentUser.lastName"
        (logout)="logout()">
    </cye-chat-user-list-header>
    <cye-chat-search-user (searchTerm)="searchUser($event)"></cye-chat-search-user>
    <div class="users">
        <ng-container *ngFor="let user of displayUsers">
            <cye-chat-user-details *ngIf="user.id !== currentUser.id" [user]="user"
                [isCurrentChat]="user.id === currentChatId"
                (currentChat)="currentChatChange.emit(user); currentChatId = user.id;">
            </cye-chat-user-details>
        </ng-container>

    </div>
</div>