@import '../../../assets/style/main.scss';

.messages-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & .messages-list {
        flex: 1;
        overflow: auto;
        background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
    }

    & .write-message {
        width: 100%;
        padding: $margin-small;
        background-color: $grey;
    }
}