<div class="app-wrapper">
    <div class="top-nav">
        <cye-chat-top-navigation [users]="users" [activeUsers]="activeUsers" (login)="login($event)">
        </cye-chat-top-navigation>
    </div>
    <div class="chats">
        <ng-container *ngFor="let user of users">
            <cye-chat-chat *ngIf="user.isActive" [style]="'width:' + 100/activeUsers + '%'" class="chat"
                [currentUser]="user">
            </cye-chat-chat>
        </ng-container>
    </div>

    <ng-container *ngIf="popup">
        <ng-template [ngComponentOutletInjector]="popupInjector" [ngComponentOutlet]="popup | async">
        </ng-template>
    </ng-container>
</div>